@import 'mixin';
@import 'fonts';
@import 'vars';
@import 'main';
@import './components/hero';
@import './components/banner';
@import './components/about';
@import './components/history';
@import './components/activity';
@import './components/direction';
@import './components/info';
@import './components/releases';
@import './components/contacts';
@import './components/keyframes';
@import './components/fullpage';

.scroll-text {
  overflow: auto;

  .scroll-content {
    padding-right: 10px;
  }
}

[data-scrollbar] .scrollbar-track,
[scrollbar] .scrollbar-track,
scrollbar .scrollbar-track {
  opacity: 1;
  width: 2px;
}

[data-scrollbar] .scrollbar-thumb,
[scrollbar] .scrollbar-thumb,
scrollbar .scrollbar-thumb {
  background: var(--color-main);
}

[data-anchor] {
  min-height: 670px;
  padding-top: var(--header-height);
  height: 100vh;

  @media(max-height: 600px) {
    height: auto;
  }

  // display: flex;
  // justify-content: center;
  // flex-direction: column;
}

[data-scrollbar] .scrollbar-thumb,
[scrollbar] .scrollbar-thumb,
scrollbar .scrollbar-thumb {
  height: 2px;
}

.section_centered,
.section_right {
  @media(max-width: 1600px) {
    padding-left: 200px !important;
  }

  @media(max-width: $md3) {
    padding-left: 40px !important;
  }

  @media(max-width: $md4) {
    padding-left: var(--space-sm) !important;
  }
}