.hero {
    padding: 56px 0 32px;

    &__wrapper {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        @media(max-width: $md3) {
            display: block;
        }
    }

    &__title {
        font-family: var(--font-family-h);
        max-width: 670px;
        width: 100%;
        margin-right: 20px;
        text-transform: uppercase;
        font-size: 57px;
        letter-spacing: 0.13em;
        line-height: 1.22em;
        font-weight: 700;

        @media(max-width: $md3) {
            margin-right: 0;
            margin-bottom: 64px;
        }

        @media(max-width: $md4) {
            font-size: 32px;
            margin-bottom: 48px;
        }
    }

    &__adress {
        font-family: var(--font-family-h);
        font-weight: 500;
        text-transform: uppercase;
        font-size: 26px;
        line-height: 1.4em;
        max-width: 211px;
        width: 100%;

        @media(max-width: $md3) {
            max-width: 100%;
        }
    }
}

.container {}