<section data-anchor="about" class="about">
	<h2 class="about__title title" data-aos="fade-down">О Компаниии</h2>
	<div class="about__content">
		<div class="about__content-tabs tabs" data-aos="fade-up">
			<a href="#" class="tabs__item current">
				<span class="tabs__item-name">Краткое описание</span>
			</a>
			<a href="#" class="tabs__item">
				<span class="tabs__item-name">Структура компании</span>
				<span class="tabs__item-score">
					<span class="score-active">08</span> / 08</span
				>
			</a>
		</div>
		<div class="about__body" data-aos="fade-left">
			<div class="about__body-item tabs__body-item show">
				<div class="about__body-text scroll-text" data-simplebar>
					<p>
						АО «Ставропольнефтегеофизика» прошло длинный путь
						развития ‑ от треста «Ставропольнефтегеофизика»,
						организованного на базе двух промыслово-геофизических
						контор в начале 1969 года.
					</p>
					<p>
						АО «Ставропольнефтегеофизика» специализируется на
						проведении геофизических работ (сейсморазведочных и
						промыслово-геофизических) на территории Российской
						Федерации и за рубежом с целью поиска и разведки
						нефтяных и газовых месторождений, детального изучения
						геологического строения вводимых в эксплуатацию
						месторождений и обеспечения прироста запасов нефти и
						газа.
					</p>
					<p>
						Оснащенность АО «Ставропольнефтегеофизика» позволяет
						проводить полный комплекс сейсморазведочных работ 2Д, 3Д
						в различных климатических и орогидрографических
						условиях.
					</p>
					<p>
						В АО «СНГФ» имеются все необходимые технические и
						программно-методические средства, квалифицированные
						специалисты и рабочие, необходимые для проведения
						полного цикла сейсморазведочных работ,
						промыслово-геофизических работ, обработки и комплексной
						интерпретации геофизических данных.
					</p>
					<p>
						АО «Ставропольнефтегеофизика» прошло длинный путь
						развития ‑ от треста «Ставропольнефтегеофизика»,
						организованного на базе двух промыслово-геофизических
						контор в начале 1969 года.
					</p>
					<p>
						АО «Ставропольнефтегеофизика» специализируется на
						проведении геофизических работ (сейсморазведочных и
						промыслово-геофизических) на территории Российской
						Федерации и за рубежом с целью поиска и разведки
						нефтяных и газовых месторождений, детального изучения
						геологического строения вводимых в эксплуатацию
						месторождений и обеспечения прироста запасов нефти и
						газа.
					</p>
					<p>
						Оснащенность АО «Ставропольнефтегеофизика» позволяет
						проводить полный комплекс сейсморазведочных работ 2Д, 3Д
						в различных климатических и орогидрографических
						условиях.
					</p>
					<p>
						В АО «СНГФ» имеются все необходимые технические и
						программно-методические средства, квалифицированные
						специалисты и рабочие, необходимые для проведения
						полного цикла сейсморазведочных работ,
						промыслово-геофизических работ, обработки и комплексной
						интерпретации геофизических данных.
					</p>
					<p>
						АО «Ставропольнефтегеофизика» прошло длинный путь
						развития ‑ от треста «Ставропольнефтегеофизика»,
						организованного на базе двух промыслово-геофизических
						контор в начале 1969 года.
					</p>
					<p>
						АО «Ставропольнефтегеофизика» специализируется на
						проведении геофизических работ (сейсморазведочных и
						промыслово-геофизических) на территории Российской
						Федерации и за рубежом с целью поиска и разведки
						нефтяных и газовых месторождений, детального изучения
						геологического строения вводимых в эксплуатацию
						месторождений и обеспечения прироста запасов нефти и
						газа.
					</p>
					<p>
						Оснащенность АО «Ставропольнефтегеофизика» позволяет
						проводить полный комплекс сейсморазведочных работ 2Д, 3Д
						в различных климатических и орогидрографических
						условиях.
					</p>
					<p>
						В АО «СНГФ» имеются все необходимые технические и
						программно-методические средства, квалифицированные
						специалисты и рабочие, необходимые для проведения
						полного цикла сейсморазведочных работ,
						промыслово-геофизических работ, обработки и комплексной
						интерпретации геофизических данных.
					</p>
				</div>
			</div>
			<div class="about__body-item tabs__body-item">
				<h3 class="about__subtitle title">
					Акционерное общество «Дальневосточное ПГО»
				</h3>
				<div class="about__adresses" data-simplebar="">
					<a href="" class="about__adresses-link">
						<h5 class="title about__adresses-name">
							АО «Амургеология»
						</h5>
						<div class="about__adresses-local">
							<span>г. Благовещенск</span>
						</div>
					</a>
					<a href="" class="about__adresses-link">
						<h5 class="title about__adresses-name">
							АО «Дальгеофизика»
						</h5>
						<div class="about__adresses-local">
							<span>г. Хабаровск</span>
						</div>
					</a>
					<a href="" class="about__adresses-link">
						<h5 class="title about__adresses-name">АО «СахГРЭ»</h5>
						<div class="about__adresses-local">
							<span>г. Южно-Сахалинск</span>
						</div>
					</a>
					<a href="" class="about__adresses-link">
						<h5 class="title about__adresses-name">
							АО «Приморгеология»
						</h5>
						<div class="about__adresses-local">
							<span>г. Южно-Сахалинск</span>
						</div>
					</a>
					<a href="" class="about__adresses-link">
						<h5 class="title about__adresses-name">
							АО «Амургеология»
						</h5>
						<div class="about__adresses-local">
							<span>г. Владивосток</span>
						</div>
					</a>
					<a href="" class="about__adresses-link">
						<h5 class="title about__adresses-name">
							АО «Дальгеофизика»
						</h5>
						<div class="about__adresses-local">
							<span>г. Благовещенск</span>
						</div>
					</a>
					<a href="" class="about__adresses-link">
						<h5 class="title about__adresses-name">АО «СахГРЭ»</h5>
						<div class="about__adresses-local">
							<span>г. Хабаровск</span>
						</div>
					</a>
					<a href="" class="about__adresses-link">
						<h5 class="title about__adresses-name">
							АО «Приморгеология»
						</h5>
						<div class="about__adresses-local">
							<span>г. Владивосток</span>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
