<section class="activity" data-anchor="activity">
	<h2 class="activity__title title" data-aos="fade-down">
		Направления деятельности
	</h2>
	<div class="activity__content">
		<div class="activity__tabs tabs" data-aos="fade-up">
			<a href="#" class="tabs__item current">
				<span class="tabs__item-name">Бурение</span>
				<span class="tabs__item-score">
					<span class="score-active">10</span> / 14</span
				>
			</a>
			<a href="#" class="tabs__item">
				<span class="tabs__item-name">Добыча</span>
				<span class="tabs__item-score">
					<span class="score-active">08</span> / 08</span
				>
			</a>
			<a href="#" class="tabs__item">
				<span class="tabs__item-name">Геология</span>
				<span class="tabs__item-score">
					<span class="score-active">08</span> / 08</span
				>
			</a>
		</div>
		<div class="activity__body" data-aos="fade-left">
			<div class="activity__body-item tabs__body-item show">
				<div class="activity__works" data-simplebar>
					<a href="#" class="activity__body-link type-link"
						>Поисковые, оценочные, разведочные работы на различные
						виды полезных ископаемых</a
					>
					<a href="#" class="activity__body-link type-link"
						>Гидрогеологические исследования</a
					>
					<a href="#" class="activity__body-link type-link"
						>Структурно-тектонические, геолого-экологические
						исследования</a
					>
					<a href="#" class="activity__body-link type-link"
						>Геолого-съемочные работы различных масштабов</a
					>
					<a href="#" class="activity__body-link type-link"
						>Лабораторные аналитические исследования</a
					>
					<a href="#" class="activity__body-link type-link"
						>Геохимические работы в области изучения недр</a
					>
					<a href="#" class="activity__body-link type-link"
						>Горно-экологический мониторинг</a
					>
					<a href="#" class="activity__body-link type-link"
						>Буровые и горнопроходческие работы</a
					>
					<a href="#" class="activity__body-link type-link"
						>Инженерные изыскания</a
					>
					<a href="#" class="activity__body-link type-link"
						>Широкий спектр геофизических исследований</a
					>
				</div>
			</div>
			<div class="activity__body-item tabs__body-item">
				<div class="activity__works" data-simplebar>
					<a href="#" class="activity__body-link type-link"
						>Поисковые, оценочные, разведочные работы на различные
						виды полезных ископаемых</a
					>
					<a href="#" class="activity__body-link type-link"
						>Гидрогеологические исследования</a
					>
					<a href="#" class="activity__body-link type-link"
						>Структурно-тектонические, геолого-экологические
						исследования</a
					>
					<a href="#" class="activity__body-link type-link"
						>Геолого-съемочные работы различных масштабов</a
					>
					<a href="#" class="activity__body-link type-link"
						>Геолого-съемочные работы различных масштабов</a
					>
					<a href="#" class="activity__body-link type-link"
						>Лабораторные аналитические исследования</a
					>
					<a href="#" class="activity__body-link type-link"
						>Геохимические работы в области изучения недр</a
					>
					<a href="#" class="activity__body-link type-link"
						>Горно-экологический мониторинг</a
					>
					<a href="#" class="activity__body-link type-link"
						>Буровые и горнопроходческие работы</a
					>
					<a href="#" class="activity__body-link type-link"
						>Инженерные изыскания</a
					>
					<a href="#" class="activity__body-link type-link"
						>Широкий спектр геофизических исследований</a
					>
				</div>
			</div>
			<div class="activity__body-item tabs__body-item">
				<div class="activity__works" data-simplebar>
					<a href="#" class="activity__body-link type-link"
						>Структурно-тектонические, геолого-экологические
						исследования</a
					>
					<a href="#" class="activity__body-link type-link"
						>Структурно-тектонические, геолого-экологические
						исследования</a
					>
					<a href="#" class="activity__body-link type-link"
						>Поисковые, оценочные, разведочные работы на различные
						виды полезных ископаемых</a
					>
					<a href="#" class="activity__body-link type-link"
						>Гидрогеологические исследования</a
					>
					<a href="#" class="activity__body-link type-link"
						>Геолого-съемочные работы различных масштабов</a
					>
					<a href="#" class="activity__body-link type-link"
						>Лабораторные аналитические исследования</a
					>
					<a href="#" class="activity__body-link type-link"
						>Геохимические работы в области изучения недр</a
					>
					<a href="#" class="activity__body-link type-link"
						>Горно-экологический мониторинг</a
					>
					<a href="#" class="activity__body-link type-link"
						>Буровые и горнопроходческие работы</a
					>
					<a href="#" class="activity__body-link type-link"
						>Инженерные изыскания</a
					>
					<a href="#" class="activity__body-link type-link"
						>Широкий спектр геофизических исследований</a
					>
				</div>
			</div>
		</div>
	</div>
</section>
