<section class="hero" data-anchor="hero">
	<div class="container">
		<div class="hero__wrapper">
			<h1 class="hero__title">
				Акционерное общество «Дальневосточное ПГО»
			</h1>
			<div class="hero__adress">
				680041, г. Хабаровск, ул. Балашовская, д.15
			</div>
		</div>
	</div>
	<div class="banner">
		<nav class="nav">
			<div class="container">
				<ul class="nav__list scroll-text">
					<li class="nav__list-elem">
						<a href="#about" class="nav__list-link">О компании</a>
					</li>
					<li class="nav__list-elem">
						<a href="#history" class="nav__list-link">История</a>
					</li>
					<li class="nav__list-elem">
						<a href="#activity" class="nav__list-link"
							>Деятельность</a
						>
					</li>
					<li class="nav__list-elem">
						<a href="#directions" class="nav__list-link"
							>Руководство</a
						>
					</li>
					<li class="nav__list-elem">
						<a href="#info" class="nav__list-link"
							>Раскрытие информации</a
						>
					</li>
					<li class="nav__list-elem">
						<a href="#releases" class="nav__list-link"
							>Пресс-релизы</a
						>
					</li>
					<li class="nav__list-elem">
						<a href="#contacts" class="nav__list-link">Контакты</a>
					</li>
				</ul>
			</div>
		</nav>
		<div class="banner__bg">
			<div class="container">
				<div class="banner__scroll scroll-nav">
					<div class="scroll-nav__top">
						<div class="scroll-nav__score">
							<span class="current-score">01</span> /
							<span class="total-score">07</span>
						</div>
					</div>
					<div class="scroll-nav__bottom">
						<div class="scroll-nav__mouse">
							<img src="img/icons/mouse.svg" alt="mouse" />
						</div>
						<div class="scroll-nav__text">Листайте вниз</div>
					</div>
				</div>
				<div class="banner__content">
					<div class="banner__content-text">
						<p>
							«Дальневосточное Производственно-геологическое
							объединение» - крупнейшее геологоразведочное
							объединение на Дальнем Востоке, образованное путем
							объединения четырех старейших дочерних предприятий
							«Росгеологии»: АО «Приморгеология» (г. Владивосток),
							АО «Дальгеофизика», (г. Хабаровск), АО
							«Амургеология» (г. Благовещенск), АО «СахГРЭ» (г.
							Южно-Сахалинск).
						</p>
					</div>
					<div class="banner__content-name">
						<div class="banner__content-label">О компании</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
