<section class="history" data-anchor="history">
	<div
		id="history_photo_slider"
		class="history__slider swiper"
		data-aos="fade-left"
	>
		<div class="swiper-wrapper">
			<div class="history__slider-item swiper-slide">
				<noscript data-webp>
					<img src="img/history/slide_1.jpg" />
				</noscript>
			</div>
			<div class="history__slider-item swiper-slide">
				<noscript data-webp>
					<img src="img/history/slide_1.jpg" />
				</noscript>
			</div>
			<div class="history__slider-item swiper-slide">
				<noscript data-webp>
					<img src="img/history/slide_1.jpg" />
				</noscript>
			</div>
		</div>
		<div class="history__slider-btns slider-btns">
			<div class="history__slider-btn slider-btn slider-btn_prev">
				<svg class="">
					<use xlink:href="./img/icons/icons.svg#slide-arrow"></use>
				</svg>
			</div>
			<div class="history__slider-btn slider-btn slider-btn_next">
				<svg class="">
					<use xlink:href="./img/icons/icons.svg#slide-arrow"></use>
				</svg>
			</div>
		</div>
	</div>
	<div class="history__body">
		<h2 class="history__title title" data-aos="fade-down">
			Историческая хронология
		</h2>
		<div class="history__content">
			<div
				id="history_info_slider"
				class="history__content-slider swiper"
				data-aos="fade-up"
			>
				<div class="swiper-wrapper">
					<div class="history__content-item swiper-slide">
						<div class="history__content-year">1940</div>
						<div class="history__content-line decor-line">
							<span></span>
						</div>
						<div class="history__content-text">
							<p>
								При тресте Сахалинуголь создана Сахалинская
								геологоразведочная экспедиция. Благодаря работе
								предприятия были открыты Новиковское
								месторождение германия, которое более 25 лет
								являлось главным поставщиком этого
								редкоземельного металла для электронной
								промышленности страны, Солнцевское месторождение
								энергетических углей, Луговское месторождение
								подземных вод, Гомонское месторождение
								известняков и многие другие месторождения.
								Специалистами СахГРЭ открыт целый ряд
								месторождений россыпного золота, которые
								являются базой устойчивой добычи этого металла,
								проведено картирование территории области в
								среднем масштабе с первым изданием
								соответствующих листов государственной
								геологической карты
							</p>
						</div>
					</div>
					<div class="history__content-item swiper-slide">
						<div class="history__content-year">1950</div>
						<div class="history__content-line decor-line">
							<span></span>
						</div>
						<div class="history__content-text">
							<p>
								В составе Восточного геофизического треста в
								Иркутске, выделена Дальневосточная Геофизическая
								экспедиция с местом базирования в городе
								Хабаровске, которая после ряда преобразований в
								1999 г. станет ФГУП «Дальгеофизика». С
								образованием Дальневосточной геофизической
								экспедиции связано начало планомерных
								геофизических исследований на Дальнем Востоке
							</p>
						</div>
					</div>
					<div class="history__content-item swiper-slide">
						<div class="history__content-year">1960</div>
						<div class="history__content-line decor-line">
							<span></span>
						</div>
						<div class="history__content-text">
							<p>
								В составе Восточного геофизического треста в
								Иркутске, выделена Дальневосточная Геофизическая
								экспедиция с местом базирования в городе
								Хабаровске, которая после ряда преобразований в
								1999 г. станет ФГУП «Дальгеофизика». С
								образованием Дальневосточной геофизической
								экспедиции связано начало планомерных
								геофизических исследований на Дальнем Востоке
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
