<section class="info section_centered" data-anchor="info">
	<h2 class="info__title title">Раскрытие информации</h2>
	<div class="info__wrapper">
		<div class="info__tabs tabs scroll-text">
			<a href="#" class="tabs__item current">
				<span class="tabs__item-name">Внутренние документы</span>
				<span class="tabs__item-score">14</span>
			</a>
			<a href="#" class="tabs__item">
				<span class="tabs__item-name">Финансовая отчетность</span>
				<span class="tabs__item-score">08</span>
			</a>
		</div>
		<div class="info__body">
			<div class="info__body-item tabs__body-item show">
				<div class="info__docs">
					<ul class="info__docs-list scroll-text">
						<li class="info__docs-item">
							<a href="#" class="info__docs-link">
								<div class="info__docs-icon">
									<img src="img/icons/pdf.svg" alt="pdf" />
								</div>
								<div class="info__docs-content">
									<h6 class="info__docs-name title">
										Реестр непрофильных активов АО
										«Дальневосточное ПГО»
									</h6>
									<div class="info__docs-info">
										PDF, 280,3 КБ
									</div>
								</div>
							</a>
						</li>
						<li class="info__docs-item">
							<a href="#" class="info__docs-link">
								<div class="info__docs-icon">
									<img src="img/icons/pdf.svg" alt="pdf" />
								</div>
								<div class="info__docs-content">
									<h6 class="info__docs-name title">
										Реестр непрофильных активов АО
										«Дальневосточное ПГО»
									</h6>
									<div class="info__docs-info">
										PDF, 280,3 КБ
									</div>
								</div>
							</a>
						</li>
						<li class="info__docs-item">
							<a href="#" class="info__docs-link">
								<div class="info__docs-icon">
									<img src="img/icons/pdf.svg" alt="pdf" />
								</div>
								<div class="info__docs-content">
									<h6 class="info__docs-name title">
										Реестр непрофильных активов АО
										«Дальневосточное ПГО»
									</h6>
									<div class="info__docs-info">
										PDF, 280,3 КБ
									</div>
								</div>
							</a>
						</li>
						<li class="info__docs-item">
							<a href="#" class="info__docs-link">
								<div class="info__docs-icon">
									<img src="img/icons/pdf.svg" alt="pdf" />
								</div>
								<div class="info__docs-content">
									<h6 class="info__docs-name title">
										Реестр непрофильных активов АО
										«Дальневосточное ПГО»
									</h6>
									<div class="info__docs-info">
										PDF, 280,3 КБ
									</div>
								</div>
							</a>
						</li>
						<li class="info__docs-item">
							<a href="#" class="info__docs-link">
								<div class="info__docs-icon">
									<img src="img/icons/pdf.svg" alt="pdf" />
								</div>
								<div class="info__docs-content">
									<h6 class="info__docs-name title">
										Реестр непрофильных активов АО
										«Дальневосточное ПГО»
									</h6>
									<div class="info__docs-info">
										PDF, 280,3 КБ
									</div>
								</div>
							</a>
						</li>
						<li class="info__docs-item">
							<a href="#" class="info__docs-link">
								<div class="info__docs-icon">
									<img src="img/icons/pdf.svg" alt="pdf" />
								</div>
								<div class="info__docs-content">
									<h6 class="info__docs-name title">
										Реестр непрофильных активов АО
										«Дальневосточное ПГО»
									</h6>
									<div class="info__docs-info">
										PDF, 280,3 КБ
									</div>
								</div>
							</a>
						</li>
						<li class="info__docs-item">
							<a href="#" class="info__docs-link">
								<div class="info__docs-icon">
									<img src="img/icons/pdf.svg" alt="pdf" />
								</div>
								<div class="info__docs-content">
									<h6 class="info__docs-name title">
										Реестр непрофильных активов АО
										«Дальневосточное ПГО»
									</h6>
									<div class="info__docs-info">
										PDF, 280,3 КБ
									</div>
								</div>
							</a>
						</li>
						<li class="info__docs-item">
							<a href="#" class="info__docs-link">
								<div class="info__docs-icon">
									<img src="img/icons/pdf.svg" alt="pdf" />
								</div>
								<div class="info__docs-content">
									<h6 class="info__docs-name title">
										Реестр непрофильных активов АО
										«Дальневосточное ПГО»
									</h6>
									<div class="info__docs-info">
										PDF, 280,3 КБ
									</div>
								</div>
							</a>
						</li>
						<li class="info__docs-item">
							<a href="#" class="info__docs-link">
								<div class="info__docs-icon">
									<img src="img/icons/pdf.svg" alt="pdf" />
								</div>
								<div class="info__docs-content">
									<h6 class="info__docs-name title">
										Реестр непрофильных активов АО
										«Дальневосточное ПГО»
									</h6>
									<div class="info__docs-info">
										PDF, 280,3 КБ
									</div>
								</div>
							</a>
						</li>
						<li class="info__docs-item">
							<a href="#" class="info__docs-link">
								<div class="info__docs-icon">
									<img src="img/icons/pdf.svg" alt="pdf" />
								</div>
								<div class="info__docs-content">
									<h6 class="info__docs-name title">
										Реестр непрофильных активов АО
										«Дальневосточное ПГО»
									</h6>
									<div class="info__docs-info">
										PDF, 280,3 КБ
									</div>
								</div>
							</a>
						</li>
						<li class="info__docs-item">
							<a href="#" class="info__docs-link">
								<div class="info__docs-icon">
									<img src="img/icons/pdf.svg" alt="pdf" />
								</div>
								<div class="info__docs-content">
									<h6 class="info__docs-name title">
										Реестр непрофильных активов АО
										«Дальневосточное ПГО»
									</h6>
									<div class="info__docs-info">
										PDF, 280,3 КБ
									</div>
								</div>
							</a>
						</li>
						<li class="info__docs-item">
							<a href="#" class="info__docs-link">
								<div class="info__docs-icon">
									<img src="img/icons/pdf.svg" alt="pdf" />
								</div>
								<div class="info__docs-content">
									<h6 class="info__docs-name title">
										Реестр непрофильных активов АО
										«Дальневосточное ПГО»
									</h6>
									<div class="info__docs-info">
										PDF, 280,3 КБ
									</div>
								</div>
							</a>
						</li>
						<li class="info__docs-item">
							<a href="#" class="info__docs-link">
								<div class="info__docs-icon">
									<img src="img/icons/pdf.svg" alt="pdf" />
								</div>
								<div class="info__docs-content">
									<h6 class="info__docs-name title">
										Реестр непрофильных активов АО
										«Дальневосточное ПГО»
									</h6>
									<div class="info__docs-info">
										PDF, 280,3 КБ
									</div>
								</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="info__body-item tabs__body-item">
				<div class="info__docs">
					<ul class="info__docs-list scroll-text">
						<li class="info__docs-item">
							<a href="#" class="info__docs-link">
								<div class="info__docs-icon">
									<img src="img/icons/pdf.svg" alt="pdf" />
								</div>
								<div class="info__docs-content">
									<h6 class="info__docs-name title">
										Реестр АО «Дальневосточное ПГО»
									</h6>
									<div class="info__docs-info">
										PDF, 280,3 КБ
									</div>
								</div>
							</a>
						</li>
						<li class="info__docs-item">
							<a href="#" class="info__docs-link">
								<div class="info__docs-icon">
									<img src="img/icons/pdf.svg" alt="pdf" />
								</div>
								<div class="info__docs-content">
									<h6 class="info__docs-name title">
										Реестр непрофильных активов АО
										«Дальневосточное ПГО»
									</h6>
									<div class="info__docs-info">
										PDF, 280,3 КБ
									</div>
								</div>
							</a>
						</li>
						<li class="info__docs-item">
							<a href="#" class="info__docs-link">
								<div class="info__docs-icon">
									<img src="img/icons/pdf.svg" alt="pdf" />
								</div>
								<div class="info__docs-content">
									<h6 class="info__docs-name title">
										Реестр непрофильных активов АО
										«Дальневосточное ПГО»
									</h6>
									<div class="info__docs-info">
										PDF, 280,3 КБ
									</div>
								</div>
							</a>
						</li>
						<li class="info__docs-item">
							<a href="#" class="info__docs-link">
								<div class="info__docs-icon">
									<img src="img/icons/pdf.svg" alt="pdf" />
								</div>
								<div class="info__docs-content">
									<h6 class="info__docs-name title">
										Реестр непрофильных активов АО
										«Дальневосточное ПГО»
									</h6>
									<div class="info__docs-info">
										PDF, 280,3 КБ
									</div>
								</div>
							</a>
						</li>
						<li class="info__docs-item">
							<a href="#" class="info__docs-link">
								<div class="info__docs-icon">
									<img src="img/icons/pdf.svg" alt="pdf" />
								</div>
								<div class="info__docs-content">
									<h6 class="info__docs-name title">
										Реестр непрофильных активов АО
										«Дальневосточное ПГО»
									</h6>
									<div class="info__docs-info">
										PDF, 280,3 КБ
									</div>
								</div>
							</a>
						</li>
						<li class="info__docs-item">
							<a href="#" class="info__docs-link">
								<div class="info__docs-icon">
									<img src="img/icons/pdf.svg" alt="pdf" />
								</div>
								<div class="info__docs-content">
									<h6 class="info__docs-name title">
										Реестр непрофильных активов АО
										«Дальневосточное ПГО»
									</h6>
									<div class="info__docs-info">
										PDF, 280,3 КБ
									</div>
								</div>
							</a>
						</li>
						<li class="info__docs-item">
							<a href="#" class="info__docs-link">
								<div class="info__docs-icon">
									<img src="img/icons/pdf.svg" alt="pdf" />
								</div>
								<div class="info__docs-content">
									<h6 class="info__docs-name title">
										Реестр непрофильных активов АО
										«Дальневосточное ПГО»
									</h6>
									<div class="info__docs-info">
										PDF, 280,3 КБ
									</div>
								</div>
							</a>
						</li>
						<li class="info__docs-item">
							<a href="#" class="info__docs-link">
								<div class="info__docs-icon">
									<img src="img/icons/pdf.svg" alt="pdf" />
								</div>
								<div class="info__docs-content">
									<h6 class="info__docs-name title">
										Реестр непрофильных активов АО
										«Дальневосточное ПГО»
									</h6>
									<div class="info__docs-info">
										PDF, 280,3 КБ
									</div>
								</div>
							</a>
						</li>
						<li class="info__docs-item">
							<a href="#" class="info__docs-link">
								<div class="info__docs-icon">
									<img src="img/icons/pdf.svg" alt="pdf" />
								</div>
								<div class="info__docs-content">
									<h6 class="info__docs-name title">
										Реестр непрофильных активов АО
										«Дальневосточное ПГО»
									</h6>
									<div class="info__docs-info">
										PDF, 280,3 КБ
									</div>
								</div>
							</a>
						</li>
						<li class="info__docs-item">
							<a href="#" class="info__docs-link">
								<div class="info__docs-icon">
									<img src="img/icons/pdf.svg" alt="pdf" />
								</div>
								<div class="info__docs-content">
									<h6 class="info__docs-name title">
										Реестр непрофильных активов АО
										«Дальневосточное ПГО»
									</h6>
									<div class="info__docs-info">
										PDF, 280,3 КБ
									</div>
								</div>
							</a>
						</li>
						<li class="info__docs-item">
							<a href="#" class="info__docs-link">
								<div class="info__docs-icon">
									<img src="img/icons/pdf.svg" alt="pdf" />
								</div>
								<div class="info__docs-content">
									<h6 class="info__docs-name title">
										Реестр непрофильных активов АО
										«Дальневосточное ПГО»
									</h6>
									<div class="info__docs-info">
										PDF, 280,3 КБ
									</div>
								</div>
							</a>
						</li>
						<li class="info__docs-item">
							<a href="#" class="info__docs-link">
								<div class="info__docs-icon">
									<img src="img/icons/pdf.svg" alt="pdf" />
								</div>
								<div class="info__docs-content">
									<h6 class="info__docs-name title">
										Реестр непрофильных активов АО
										«Дальневосточное ПГО»
									</h6>
									<div class="info__docs-info">
										PDF, 280,3 КБ
									</div>
								</div>
							</a>
						</li>
						<li class="info__docs-item">
							<a href="#" class="info__docs-link">
								<div class="info__docs-icon">
									<img src="img/icons/pdf.svg" alt="pdf" />
								</div>
								<div class="info__docs-content">
									<h6 class="info__docs-name title">
										Реестр непрофильных активов АО
										«Дальневосточное ПГО»
									</h6>
									<div class="info__docs-info">
										PDF, 280,3 КБ
									</div>
								</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
