<section class="releases section_right" data-anchor="releases">
	<h2 class="releases__title title">Пресс-релизы</h2>
	<div id="releases_slider" class="releases__slider swiper">
		<div class="swiper-wrapper">
			<a href="#" class="swiper-slide releases-item">
				<div class="releases-item__head">
					<div class="releases-item__status">новости</div>
				</div>
				<div class="releases-item__body">
					<div class="releases-item__descr">
						<h5 class="releases-item__title title">
							Росгеология выполнила исследования геологического
							строения и нефтегазового потенциала шельфа
							Антарктиды
						</h5>
						<div class="releases-item__date">20.02.20</div>
					</div>
					<div class="releases-item__img">
						<noscript data-webp>
							<img src="img/releases/slide_1.jpg" />
						</noscript>
					</div>
				</div>
			</a>
			<a href="#" class="swiper-slide releases-item">
				<div class="releases-item__head">
					<div class="releases-item__status">новости</div>
				</div>
				<div class="releases-item__body">
					<div class="releases-item__descr">
						<h5 class="releases-item__title title">
							Росгеология выполнила исследования геологического
							строения и нефтегазового потенциала шельфа
							Антарктиды
						</h5>
						<div class="releases-item__date">20.02.20</div>
					</div>
					<div class="releases-item__img">
						<noscript data-webp>
							<img src="img/releases/slide_2.jpg" />
						</noscript>
					</div>
				</div>
			</a>
			<a href="#" class="swiper-slide releases-item">
				<div class="releases-item__head">
					<div class="releases-item__status">новости</div>
				</div>
				<div class="releases-item__body">
					<div class="releases-item__descr">
						<h5 class="releases-item__title title">
							Росгеология выполнила исследования геологического
							строения и нефтегазового потенциала шельфа
							Антарктиды
						</h5>
						<div class="releases-item__date">20.02.20</div>
					</div>
					<div class="releases-item__img">
						<noscript data-webp>
							<img src="img/releases/slide_1.jpg" />
						</noscript>
					</div>
				</div>
			</a>
			<a href="#" class="swiper-slide releases-item">
				<div class="releases-item__head">
					<div class="releases-item__status">новости</div>
				</div>
				<div class="releases-item__body">
					<div class="releases-item__descr">
						<h5 class="releases-item__title title">
							Росгеология выполнила исследования геологического
							строения и нефтегазового потенциала шельфа
							Антарктиды
						</h5>
						<div class="releases-item__date">20.02.20</div>
					</div>
					<div class="releases-item__img">
						<noscript data-webp>
							<img src="img/releases/slide_2.jpg" />
						</noscript>
					</div>
				</div>
			</a>
		</div>
		<div class="releases__slider-btns slider-btns">
			<div class="releases__slider-btn slider-btn slider-btn_prev">
				<svg class="">
					<use xlink:href="./img/icons/icons.svg#slide-arrow"></use>
				</svg>
			</div>
			<div class="releases__slider-btn slider-btn slider-btn_next">
				<svg class="">
					<use xlink:href="./img/icons/icons.svg#slide-arrow"></use>
				</svg>
			</div>
		</div>
	</div>
</section>
